ClienteWS/Connected Services/WSKrack/WSKrack1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Zapato">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Talla" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Zapato" nillable="true" type="tns:Zapato" />
  <xs:complexType name="BaseRespuesta">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRespuesta" nillable="true" type="tns:BaseRespuesta" />
</xs:schema>